/* reset geral */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 900px;
  margin: 0 auto;
}

.header-container{
  display: flex;
  align-items: center;
}

.header-logo{
  margin-right: 100px;
}


.cliente-info h5{
  margin-bottom: 7px;
  font-size: 1rem;
  font-weight: normal;
}


.titulo h2{
  text-align: center;
  margin: 50px 0 10px 0;
  color: darkblue;
}

.titulo h2::after{
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background-color: currentColor;
  margin: 10px auto;
}

.fatura-item{
  padding: 20px 10px;
  border-bottom: 2px solid #0005;
}

.fatura-item:nth-of-type(even) {
  background-color: #0001;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.fatura-header{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0005;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.fatura-cliente{
  font-size: 1rem;
  color: darkblue;
}

.dados-banco{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dados-banco p {
  font-size: .8rem;
  padding: 0 5px;
  border-right: 1px solid #0005;
}
.dados-banco p:last-child {
  border-right: none;
}

.dados-banco p span{
  font-weight: bold;
}

.fatura-tabela{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.fatura-tabela thead th, .fatura-tabela tbody td{
  padding: 5px;
  border: 1px solid #0005;
  font-size: .7rem;
}

.fatura-tabela thead th{
  font-weight: bolder;
  background-color: #0001;
}

.total-pagar{
  display: inline-block;
  margin-top: 10px;
  color: #0008;
}

.total-pagar h2{
  background-color: #0009;
  color: #fff;
  font-size: .7em ;
  padding: 5px;
  border-radius: 4px;
}

.total-geral{
  padding: 5px;
  background-color: #777;
  color: #ededee;
}